.content .form-group {
  margin-bottom: 20px;
}

.content .form-group > strong {
  display: block;
  margin-bottom: 5px;
  text-decoration: underline;
}

.img-wrap {
  position: relative;
  display: inline-block;
  font-size: 0;
  margin-bottom: 5px;
}

.img-wrap .close {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  z-index: 100;
  background-color: #FFF;
  padding: 10px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: .2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}

.img-wrap:hover .close {
  opacity: 1;
}

/*
.dataTables_wrapper .dataTable>tbody>tr>th,
.dataTables_wrapper .dataTable>tbody>tr>td
{
    border-left: none;
    border-right: none;
}
*/

.sub-item {
  padding-left: 20px;
}

.dataTables_wrapper .dataTable > tbody > tr > td:first-child {
  text-align: center;
}

table.dtable {
  width: 100% !important;
}

table.dtable > tbody > tr > td {
  vertical-align: middle;
  word-break: break-word;
}

table.dtable .minsize {
  width: 1% !important;
}

table.dtable .dtable-td-wrapper {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

table.dtable .dtable-td-wrapper .dtable-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

table.dtable .dtable-td-wrapper .label-administrator {
  background-color: #dd4b39 !important;
}

table.dtable input.select {
  display: inline-block;
}

.bootstrap-select {
  overflow: hidden;
  float: left;
  display: block !important;
}

.bootstrap-select .dropdown-menu {
  display: block !important;
  position: relative !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.bootstrap-select button.dropdown-toggle {
  display: none;
}

.bootstrap-select .dropdown-header {
  font-size: inherit;
  font-weight: bold;
}

.icheck-item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .modal .modal-dialog {
    width: 800px;
    height: 100%;
  }

  .modal .modal-dialog {
    overflow-y: initial !important;
  }

  .modal .modal-content {
    height: 90%;
  }

  .modal .modal-body {
    height: 90%;
    overflow-y: auto;
  }
}

