/* GENERAL */

/* LAYOUT */

.container-fluid {
  padding-right: 60px;
  padding-left: 60px;
}

.postcontent.bothsidebar {
  left: 26%;
  /* 22% sidebar width + 4% margin sidebar */
}

.sidebar.leftsidebar {
  right: 52%;
  /* 48% content width + 4% margin sidebar */
}

.sidebar.rightsidebar {
  left: 0%;
}

/* LEFT MENU */

.nav-list .nav-item ul {
  display: none;
}

/* OWL CAROUSEL */

.owl-carousel .owl-item .img-thumbnail {
  padding: 0;
  border: none;
}

#thumbGalleryDetail .owl-item .img-thumbnail {
  text-align: center;
  height: 500px;
  background-color: #000;
}

#thumbGalleryDetail .owl-item .img-thumbnail .v-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#thumbGalleryDetail .owl-item .img-thumbnail img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-height: 500px;
}

/* MEDIA */

/** MEDIA LAYOUT **/

@media (max-width: 991px) {
  .postcontent.bothsidebar,
  .sidebar.rightsidebar {
    left: auto;
  }

  .sidebar.leftsidebar {
    right: auto;
  }
}

