/* GENERAL */

/* LAYOUT */

.postcontent.bothsidebar{
    left: 26%; /* 22% sidebar width + 4% margin sidebar */
}

.sidebar.leftsidebar{
    right: 52%; /* 48% content width + 4% margin sidebar */
}

.sidebar.rightsidebar{
    left: 0%;
}


/* LEFT MENU */

.nav-tree li a {
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}


/* FLEXSLIDER */

.flexslider .slider-wrap > div:first-child {
    display: block;
    -webkit-backface-visibility: visible;
} 


/* MEDIA */

/** MEDIA LAYOUT **/

@media (max-width: 991px){
    .postcontent.bothsidebar,
    .sidebar.rightsidebar{
        left: auto;
    }
    .sidebar.leftsidebar{
        right: auto;
    }
}